<h1>Add Person</h1>
<div>
  <form method="POST">
    <div>
      <div>
          <label>id</label>
          <input type="text" name="id" />
      </div>

      <div>
          <label>city</label>
          <input type="text" name="city" />
      </div>

      <div>
          <label>postal_code</label>
          <input type="text" name="postal_code" />
      </div>

      <div>
          <label>country</label>
          <input type="text" name="country" />
      </div>


      <div>
          <label>street</label>
          <input type="text" name="street" />
      </div>


    
    </div>

    <input type="submit" />
  </form>
</div>