<h1>Add Airport</h1>
<div>
  <form method="POST">
    <div>
        <input type="text" name="name" />
        <label>Name</label>
    </div>
    <div>
        <input type="number" name="location_id" />
        <label>Location ID</label>
    </div>
    
    <input type="submit" />
  </form>
</div>
