<h1>Update Airplane</h1>
<div>
  <form method="POST">

    <div>
      <input type = "text" placeholder = "Airplane Type" name = "airplane_type" />
    </div>

    <div>
      <input type = "text" placeholder = "Manufacture Year" name = "manufacture_year" />
    </div>

    <div>
      <input type = "text" placeholder = "License No" name = "license_no" />
    </div>


    <input type="hidden" value={{data.id}} name="id" />
    <input type="submit" />
  </form>
</div>
