<h1>Employees Add</h1>
<div>
    <form method="POST" >
    <div>
        <input type="number" name="joining_year" />
        <label> Joining Year </label>
    </div> 
    <div>
        <input type="number" name="dept_no" />
        <label> Department No. </label>
    </div>
    <div>
        <input type="number" name="grade" />
        <label>Grade</label>
    </div>
    <div>
        <input type="text" name="cnic" />
        <label> CNIC </label>
    </div>
    <input type="submit" />
    </form>
</div>
