<h1>Add Person</h1>
<div>
  <form method="POST">
    <div>
      <div>
          <label>license_no</label>
          <input type="text" name="license_no" />
      </div>

      <div>
          <label>name</label>
          <input type="text" name="name" />
      </div>

      
    
    </div>

    <input type="submit" />
  </form>
</div>