<h1>Add Person</h1>
<div>
  <form method="POST">
    <div>
      <div>
          <label>First Name</label>
          <input type="text" name="first_name" />
      </div>

      <div>
          <label>Last Name</label>
          <input type="text" name="last_name" />
      </div>

      <div>
          <label>Age</label>
          <input type="number" name="age" />
      </div>

      <div>
          <label>CNIC</label>
          <input type="text" name="cnic" />
      </div>
      <div>
          <label>Phone Number</label>
          <input type="text" name="phone_number" />
      </div> 
      <div>
          <label>Miles</label>
          <input type="number" name="miles" />
      </div>
      <div>
          <label>Passport Number</label>
          <input type="text" name="passport_number" />
      </div>
      <div>
          <label>Address ID</label>
          <input type="number" name="address_id" />
      </div>

    </div>

    <input type="submit" />
  </form>
</div>
