<h1>Add Pessenger</h1>
<div>
  <form method="POST">
    <div>
    <div>
          <label>discount</label>
          <input type="number" name="discount" />
      </div>
      <div>
          <label>CNIC</label>
          <input type="number" name="cnic" />
      </div>
    </div>

    <input type="submit" />
  </form>
</div>
