<h1>Update Pessenger</h1>
<div>
  <form method="POST">
    <div>
    <div>
          <label>discount</label>
          <input type="number" name="discount" value={{data.discount}} />
      </div>
      <div>
          <label>CNIC</label>
          <input type="number" name="cnic" value={{data.cnic}} />
      </div>
    </div>
    <input type="hidden" name="id" value={{data.id}} />
    <input type="submit" />
  </form>
</div>
