<h1>Add Pricing</h1>
<div>
  <form method="POST">

    <div>
      <input type = "text" placeholder = "Flight No." name = "flight" />
    </div>
    
    <div>
      <input type = "text" placeholder = "Seat Class" name = "seating_type"/>
    </div>

    <div>
      <input type = "text" placeholder = "Price" name = "cost" />
    </div>

    <div>
      <input type = "text" placeholder = "Baggage" name = "baggage" />
    </div>


    <input type="submit" />
  </form>
</div>
