<h1>Update Pricing</h1>
<div>
  <form method="POST">

    <div>
      <input type = "text" placeholder = "Flight" name = "flight" />
    </div>

    <div>
      <input type = "text" placeholder = "Seat Type" name = "seating_type" />
    </div>

    <div>
      <input type = "text" placeholder = "Price" name = "cost" />
    </div>

    <div>
      <input type = "text" placeholder = "Baggage" name = "baggage" />
    </div>


    <input type="hidden" value={{data.id}} name="id" />
    <input type="submit" />
  </form>
</div>
