<form method="POST">
  <label>Source</label>
  <input type="search" name="src_airport" />
  
  <label>Destination</label>
  <input type="search" name="dest_airport" />
  <input type="submit" />
</form>
