{{#each data}}
<div class='table-rows'>
  <div style="display:inline-block">{{this.dept_name}}</div>
  <div style="display:inline-block">{{this.arrival_name}}</div>
  <div style="display:inline-block">{{this.flight_no}}</div>
<div>
{{/each}}
