<form method="POST">
  <label>Cost Range Start</label>
  <input type="number" name="range_start" />
  
  <label>Cost Range End</label>
  <input type="number" name="range_end" />
  <input type="submit" />
</form>

