<a href="queries/query1">Query 1</a>
<a href="queries/query2">Query 2</a>
<a href="queries/query3">Query 3</a>
<a href="queries/query4">Query 4</a>
<a href="queries/query5">Query 5</a>
<a href="queries/query6">Query 6</a>
<a href="queries/query7">Query 7</a>
<a href="queries/query8">Query 8</a>
<a href="queries/query9">Query 9</a>
<a href="queries/query10">Query 10</a>
