<h1>Add Seating</h1>
<div>
  <form method="POST">
    <div>
      <div>
          <label>Airplane ID</label>
          <input type="text" name="airplane_id" />
      </div>

      <div>
          <label>Seating Type</label>
          <input type="text" name="seating_type_id" />
      </div>

      <div>
          <label>Number of Seats</label>
          <input type="number" name="number_of_seats" />
      </div>

    </div>

    <input type="submit" />
  </form>
</div>
