<h1>Update Seating Type</h1>
<div>
  <form method="POST">
      <div>
          <label>Type</label>
          <input type="text" name="name" />
      </div>
      <input type="hidden" value={{data.id}} name="id" />

    <input type="submit" />
  </form>
</div>
