<h1>Update Ticketing</h1>
<div>
  <form method="POST">
    <div>
      <div>
          <label>Booking ID</label>
          <input type="text" name="booking_id" value={{data.booking_id}} />
      </div>

      <div>
          <label>Pricing ID</label>
          <input type="text" name="pricing_id" value={{data.pricing_id}} />
      </div>
      
      <div>
          <label>Passenger ID</label>
          <input type="text" name="passenger_id" value={{data.passenger_id}} />
      </div>

    </div>

    <input type="submit" />
  </form>
</div>
