<h1>Add Ticketing</h1>
<div>
  <form method="POST">
    <div>
      <div>
          <label>Booking ID</label>
          <input type="text" name="booking_id" />
      </div>

       <div>
          <label>Pricing ID</label>
          <input type="text" name="pricing_id" />
      </div>

       <div>
          <label>Passenger ID</label>
          <input type="text" name="passenger_id" />
      </div>

    </div>

    <input type="submit" />
  </form>
</div>
