body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table-header >div {
  width: 10%;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.table-row > div {
    width:10%;
  display:inline-block;
  font-size:20px;
}
